<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
    <title>new book</title>
</head>

<body>

    <!-- navigation -->
    <nav th:replace="_fragments :: menu(1)" class="ui attached segment m-padded-tb-mini">
        <div class="ui m-container">
            <div class="ui secondary menu">
                <div>
                    <h3 class="ui item teal header">PLMS</h3>
                </div>

                <div class="ui secondary menu lr-space">
                    <div class="header item">
                        Books
                    </div>

                    <a class="item">
                        Subject
                    </a>
                    <a class="item">
                        Tags
                    </a>
                    <a class="item">
                        Author
                    </a>
                </div>

                <div class="right menu">
                    <div class="item">
                        <a href="#">Log out</a>
                    </div>
                </div>
            </div>
        </div>

    </nav>
    <br>
    <br>

    <!-- content -->

    <div class="ui m-container-mini">
        <div class="ui segment">
            
            <form id="book-form" class="ui mini form" th:object="${book}" action="/book/add" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="two fields">
                    <div class="field">
                        <label>Title</label>
                        <input class="small" th:field="*{title}" type="text" name="title" placeholder="Title" required>
                    </div>
                    <div class="field">
                        <label>Picture</label>
                        <input class="small" th:field="*{picture}" type="text" name="picture" placeholder="Picture">
                    </div>
                </div>


                <!--subtitle-->
                <div class="field">
                  <label>Subtitle</label>
                  <input type="text" th:field="*{subtitle}" name="last-name" placeholder="Last Name">
                </div>

                <!-- subject and tags -->
                <div class="two fields">
                    <div class="field">
                        <label>Subject</label>
                        <div class="ui fluid selection dropdown">
                            <input th:field="*{subject.id}" type="hidden" name="subject.name">
                            <i class="dropdown icon"></i>
                            <div class="default text">Subject</div>
                            <div class="menu dropdown">
                                <div th:each="subject : ${subjects}"
                                     th:data-value="${subject.id}"
                                     th:text="${subject.name}" class="item">
                                </div>
                               <!-- <div class="item" data-value="1">Java</div>
                                <div class="item" data-value="2">Javascript</div>-->
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Tags</label>
                        <div class="ui fluid selection multiple search dropdown">
                            <input name="tagIds" type="hidden" th:value="*{tagIds}">
                            <i class="dropdown icon"></i>
                            <div class="default text">Tags</div>
                            <div class="menu">
                                <div class="item" th:each="tag : ${tags}"
                                        th:data-value="${tag.id}"
                                        th:text="${tag.name}">tag
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="field">
                    <label>Add Authors</label>
                    <div class="ui fluid selection multiple search dropdown">
                        <input name="authorIds" type="hidden" th:value="*{authorIds}">
                        <i class="dropdown icon"></i>
                        <div class="default text">Author</div>
                        <div class="menu">
                            <div class="item" th:each="author : ${authors}"
                                 th:data-value="${author.id}"
                                 th:text="${author.name}">Author
                            </div>
                        </div>
                    </div>
                </div>


                <div class="two fields">
                    <div class="field">
                        <label>Published</label>
                        <input th:field="*{published}" type="text" name="Published" placeholder="Published">
                    </div>
                    <div class="field">
                        <label>ISBN</label>
                        <input th:field="*{isbn}" type="text" name="isbn" placeholder="ISBN">
                    </div>
                </div>
                
                <div class="field">
                    <label>Text</label>
                    <textarea name="description" th:text="*{description}"></textarea>
                </div>







                <div onclick="saveBook(this)" class="ui right aligned container">
                    <button class="ui blue button">Save</button>
                </div>
                
              </form>

        </div>
    </div>





    <br>
    <br>

    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>



    <!-- modal and form for new authors -->
    <script>
        $(".toggle").click(function () {
            $(".m-item").toggleClass("m-mobile-hide");
        });

        $('.ui.dropdown').dropdown({
            on:'hover'
        });
        $('.ui.dropdown')
            .dropdown({
                allowAdditions: true
            });

        function addAuthor(element){
            $("#book-form").attr("action", "/book/add-author").submit();
        }

        function saveBook(element) {
            $("#book-form").attr("action", "/book/save-book").submit();
        }
        /**
         * 笔记:
         *  1. 实现thymeleaf, 动态表格传递
         *  2. 为什么 e.preventDefault(); 阻止了，input submit 提交自身属性值， 这是一个坑。
         *
         * */

 /*       data = {};
        $("#save-modal-form").on("click", function(e){
            e.preventDefault();
            $('.ui.modal')
                .modal('hide');
            // prevent de default action, which is to submit
            // save your value where you want
            // data.select = $("#save-modal-form .field").value();
            // or call the save function here
            // save();
            // $(this).prev().click();
        });*/

 /*  $(document).ready(function () {

   $("#save").click(function (e) {
         e.preventDefault();
         $("#book-form").submit();
     });

     $("#redirect").click(function (e) {
         e.preventDefault();
         $("#book-form").submit();
     });
*/

    </script>



</body>

</html>