<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
    <title>home</title>

</head>

<body>

<!-- navigation -->
<nav th:replace="_fragments :: menu(1)" class="ui attached segment m-padded-tb-mini">
    <div class="ui m-container">
        <div class="ui secondary menu">

            <h3 class="ui item teal header">PLMS</h3>

            <div class="ui secondary menu lr-space">
                <div class="header item">
                    Books
                </div>

                <a class="item">
                    Subject
                </a>
                <a class="item">
                    Tags
                </a>
                <a class="item">
                    Author
                </a>
            </div>

            <div class="right menu">
                <div class="item">
                    <a href="#">Log out</a>
                </div>
            </div>
        </div>
    </div>

</nav>
<br>
<br>



<div class="ui m-container-tiny">

    <div class="ui message" th:unless="${#strings.isEmpty(message)}">
        <h3 th:text="${message}"></h3>
    </div>


    <div class="ui attached segment">
        <div class="ui right aligned container">
            <a class="ui blue button" th:href="@{/subject/add}">
                <i class="add icon"></i>Add Subject
            </a>
        </div>

        <table class="ui very basic celled table">
            <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subject, iterStat: ${page.content}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${subject.name}">Finite Elmente Methode:Linar dynamics and statics</td>
                <td >
                    <a th:href="@{/subject/{id}/edit(id=${subject.id})}" class="ui blue compact button">Edit</a>
                    <a th:href="@{/subject/{id}/delete(id=${subject.id})}" class="ui blue compact button">Delete</a>
                </td>

            </tr>


            </tbody>
            <tfoot>
            <tr>
                <th colspan="4" class="right aligned row">
                    <div class="ui mini pagination menu m-margin-top">
                        <a th:href="@{/subject/list(page=${page.number}-1)}" th:unless="${page.first}" class="icon item">上一页</a>
                        <a th:href="@{/subject/list(page=${page.number}+1)}" th:unless="${page.last}" class="icon item">下一页</a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>

</div>



<br>
<br>

<!-- context -->



<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>

</html>